body{
    background: #FFF !important;
}
.box-heading{background: #f2f2f2;}
.main-title{color:#646D73;float: left;}
#nav a{color: #59646d;}
#nav a:hover{color:#646D73;}
#nav a.active{background: transparent;color:#FFF;}
.fill-dark{background:#646D73;color:#FFF; }

.sg-header{
    width:100%;
    background: #3e4549;
    color: #bbb;
}
.docnav a{color: #bbb;line-height: 2rem; border-bottom: 1px solid #f2f2f2; text-indent: .25rem; font-weight: normal;}
.docnav a:hover{color: #646D73;}
.docnav a.active{color: #646D73; font-weight: bold;}


.rounded{border-radius: .5rem;}
.round-bottom{ border-radius:0 0 3px 3px; }
code,
pre {
  background:rgba(0,0,0,0.025);
  font-size:12px;
  line-height:20px;
  padding:3px;
  border-radius: 3px;
  }
pre {
  display:block;
  padding:10px;
  word-break:break-all;
  word-wrap:break-word;
  white-space:pre;
  white-space:pre-wrap;
  -moz-tab-size:4;
  tab-size:4;
  }
  pre code {
    background:transparent;
    padding:0;
    }
    /* Keyword.Declaration
     * Keyword.Namespace
     * Keyword.Reserved */
    pre .kd,
    pre .kn,
    pre .kr,
    pre .nt   { color:#0B5A91; } /* Name.Tag */
.limiter {
  width:83.3333%;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
  }
  .col0    { float:left; width:04.1666%; max-width:50px; }
  .col1    { float:left; width:08.3333%; max-width:100px; }
  .col2    { float:left; width:16.6666%; max-width:200px; }
  .col3    { float:left; width:25.0000%; max-width:300px; }
  .col4    { float:left; width:33.3333%; max-width:400px; }
  .col5    { float:left; width:41.6666%; max-width:500px; }
  .col6    { float:left; width:50.0000%; max-width:600px; }
  .col7    { float:left; width:58.3333%; max-width:700px; }
  .col8    { float:left; width:66.6666%; max-width:800px; }
  .col9    { float:left; width:75.0000%; max-width:900px; }
  .col10   { float:left; width:83.3333%; max-width:1000px; }
  .col11   { float:left; width:91.6666%; max-width:1100px; }
  .col12   { width:100%; display:block; }

.contain{position: relative;}
.text-right{text-align: right;}
.truncate {
  text-overflow:ellipsis;
  white-space:nowrap;
  overflow:hidden;
  }

  .box {
    margin-bottom:20px;
    border:1px solid rgba(0,0,0,0.10);
    }
    .box figure,
    .box .box-heading {
      border-bottom:1px solid rgba(0,0,0,0.1);
      }
    .box figure:last-child {
      border-bottom:none;
      }


/* Margins
------------------------------------------------------- */

.space-left0  { margin-left:    5px;}
.space-left1  { margin-left:   10px;}
.space-left2  { margin-left:   20px;}
.space-left3  { margin-left:   30px;}
.space-left4  { margin-left:   40px;}
.space-left8  { margin-left:   80px;}
.space-left12 { margin-left:  120px;}
.space-left16 { margin-left:  160px;}
.space-left20 { margin-left:  200px;}
.space-left24 { margin-left:  240px;}

.space-right0  { margin-right:   5px;}
.space-right1  { margin-right:  10px;}
.space-right2  { margin-right:  20px;}
.space-right3  { margin-right:  30px;}
.space-right4  { margin-right:  40px;}
.space-right8  { margin-right:  80px;}
.space-right12 { margin-right: 120px;}
.space-right16 { margin-right: 160px;}
.space-right20 { margin-right: 200px;}
.space-right24 { margin-right: 240px;}

.space-bottom0                { margin-bottom:  5px;}
.space-bottom1                { margin-bottom: 10px;}
.space-bottom, /* deprecated, use space-bottom2 */
.space-bottom2                { margin-bottom: 20px;}
.space-bottom4                { margin-bottom: 40px;}
.space-bottom8                { margin-bottom: 80px;}

.space-top0                   { margin-top:  5px;}
.space-top1                   { margin-top: 10px;}
.space-top2                   { margin-top: 20px;}
.space-top4                   { margin-top: 40px;}
.space-top8                   { margin-top: 80px;}

.unlimiter .col0,
.unlimiter .col1,
.unlimiter .col2,
.unlimiter .col3,
.unlimiter .col4,
.unlimiter .col5,
.unlimiter .col6,
.unlimiter .col7,
.unlimiter .col8,
.unlimiter .col9,
.unlimiter .col10,
.unlimiter .col11 {
  max-width: none;
}

.margin0  { margin-left:04.1666%; }
.margin1  { margin-left:08.3333%; }
.margin2  { margin-left:16.6666%; }
.margin3  { margin-left:25.0000%; }
.margin4  { margin-left:33.3333%; }
.margin5  { margin-left:41.6666%; }
.margin6  { margin-left:50.0000%; }
.margin7  { margin-left:58.3333%; }
.margin8  { margin-left:66.6666%; }
.margin9  { margin-left:75.0000%; }
.margin10 { margin-left:83.3333%; }
.margin11 { margin-left:91.6666%; }
.margin12 { margin-left:100.0000%; }

/* Padding
------------------------------------------------------- */
.pad0  { padding:5px; }
.pad0y { padding-top:5px; padding-bottom:5px; }
.pad0x { padding-right:5px; padding-left:5px; }

.pad1    { padding:10px; }
.pad2    { padding:20px; }
.pad4    { padding:40px; }

.pad1x { padding-left: 10px; padding-right: 10px;}
.pad2x { padding-left: 20px; padding-right: 20px;}
.pad4x { padding-left: 40px; padding-right: 40px;}

.pad1y { padding-top: 10px; padding-bottom: 10px;}
.pad2y { padding-top: 20px; padding-bottom: 20px;}
.pad4y { padding-top: 40px; padding-bottom: 40px;}

.pad8 {  padding: 80px; }
.pad8y { padding-top: 80px; padding-bottom: 80px;}
.pad8x { padding-left: 80px; padding-right: 80px;}

/* Absolute containers
------------------------------------------------------- */
.pin-top,
.pin-right,
.pin-bottom,
.pin-left,
.pin-topleft,
.pin-topright,
.pin-bottomleft,
.pin-bottomright {
  position:absolute;
  }
  .pin-bottom { right:0; bottom:0; left:0; }
  .pin-top    { top:0; right:0; left:0; }
  .pin-left   { top:0; bottom:0; left:0; }
  .pin-right  { top:0; right:0; bottom:0; }
  .pin-bottomright { bottom:0; right:0; }
  .pin-bottomleft  { bottom:0; left:0; }
  .pin-topright    { top:0; right:0; }
  .pin-topleft     { top:0; left:0; }

.docnav           { position:fixed; top:100px; bottom:0; width:100%; }
.docnav .limiter  { height:100%; }
.docnav .col3     { height:100%; }
.docnav nav {
  position: absolute;
  left:0; top:0; right:20px; bottom:20px;
  }
  .docnav nav a{display: block; text-align: left;}

  .scroll-styled .highlight pre,
.scroll-styled {
  overflow:auto;
  }
.scroll-styled .highlight pre::webkit-scrollbar,
.scroll-styled::-webkit-scrollbar {
  width:8px;
  height:8px;
  border-left:0;
  background:rgba(0,0,0,0.1);
  }
.scroll-styled .highlight pre::webkit-scrollbar:hover,
.scroll-styled::-webkit-scrollbar:hover {
  background:rgba(0,0,0,0.15);
  }
.scroll-styled .highlight pre::webkit-scrollbar-track,
.scroll-styled::-webkit-scrollbar-track {
  background:none;
  }
.scroll-styled .highlight pre::webkit-scrollbar-thumb,
.scroll-styled::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.1);
  border-radius:0;
  }
